html {
	padding: 0;
	margin: 0;
}

body {
	background-color: #E5E5E5;
	padding-top: 85px;
	padding-bottom: 85px;
}

h1 {
	padding-left: 162px;
	font-weight: bold;
	font-size: 38px;
	line-height: 46px;
	color: #000;
	margin: 0;
	margin-bottom: 80px;
}

.flex-wrapper {
	width: 100%;
	display: flex;
	justify-content: center;
}

.slider-wrapper {
	max-width: 800px;
	width: 100%;
	height: 490px;
	position: relative;
	box-shadow: 10px 10px 44px -10px rgba(0, 0, 0, 0.75);
}

#btn-prev, #btn-next {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 50px;
	background: gray;
	opacity: 0.4;
	cursor: pointer;
	transition: opacity .2s ease-in-out;
}

#btn-prev:hover, #btn-next:hover {
	opacity: 0.6;
}

#btn-next {
	left: auto;
	right: 0;
}

.slide {
	width: 100%;
	height: 100%;
	display: none;
}

.slide.active {
	display: block;
}

img {
	width: 100%;
	height: 100%;
}

.dots-wrapper {
	display: flex;
	justify-content: center;
	margin-top: 15px;
}

.dot {
	width: 2px;
	height: 2px;
	opacity: 0.4;
	border-radius: 50%;
	color: #000;
}